body {
	font-family: "montserrat";
	text-align: center;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Montserrat-Bold";
	line-height: 1.5;
}

/*Section*/
.colored-section {
	background-color: #ff4c68;
	color: #fff;
}

.white-section {
	background-color: #fff;
}

/*Heading*/
.big-heading {
	font-family: "Montserrat-Black";
	font-size: 4rem;
	font-weight: bold;
}

.container {
	padding-top: 5%;
	padding-bottom: 7%;

}

.adm-logo {
	width: 20%;
}

.radar-logo {
	width: 9%;
}

.heading-left {
	padding-left: 10%;
}
/*Navigaton Bar*/

.navbar-nav {
	margin-left: auto;
}

.nav-brand {
	font-family: ubuntu;
	font-size: 2.5rem;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

.nav-brand:hover {
	color: powderblue;
}

.nav-item {
	padding: 0 18px;
}


/*Buttons*/
.download-button {
	margin: 5% 3% 5% 0;
}

.call-button {
	text-decoration: none;
	color: #fff;
}

.title-img {
	padding-left: 6.25rem;
	margin-left: 9.3rem; 
	position: absolute;
	padding-top: 80px;
}

@media (max-width: 1050px) {
	.title-img {
		position: static;
		padding-top: 0;
	}

	.container {
		padding-bottom: 0;
	}

	#features {
	padding: 3% 3%;
    }

    .features-box {
	padding: 5%;
	font-size: 1.5rem;
    }
}

/*Features*/

#features {
	padding: 10% 10%;
	justify-content: center;
	position: relative;
}

.features-p {
	color: #8f8f8f;
}

.features-box {
	padding: 5%;
}

.icon-heading {
	font-size: 4rem;
	color: #ef8172;
}

.icon-heading:hover {
	color: #ff4c68;
}


/*Testimonial*/

#testimonials {
	background-color: #ef8172;
	color: #fff;
}

.testimonial-img {
	width: 10%;
	color: #fff;
	border-radius: 100%;
}

#press {
	background-color: #ef8172;
	padding-bottom: 3%;
}

.press-logo {
	width: 15%;
	margin: 20px 20px 50px;
}

.carousel-item {
	padding: 7% 15%;
}


/*Pricing*/
#pricing {
	padding: 7% 10%;
}

.pricing-clm {
	padding: 3%;
}

.Price-text {
	font-size: 3rem;
	line-height: 1.5;
}
.hide-box {
	visibility: hidden;
}

/*Call to Action*/

#cta {
	padding: 4% 0%;
	font-family: "Montserrat-Balck";
}

@media (max-width: 600px) {
	.cta-heading {
		font-size: 1.5rem;
	}

	.footer-content {
		font-size: 0.5rem;
	}
	}


.cta-button {
	text-decoration: none;
	color: white;
}

.cta-button:hover {
	color: black;
}

#footer {
	margin: 0;
	padding: 2% 0%;
}

.footer-content {
	font-size: 1.5rem;
}

.footer-item {
	padding: 0 1rem;
}

.footer-item:hover {
	font-size: 2rem;
}
